.ring {
  width: 96%;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  -webkit-animation-name: ani;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: normal;
  animation-name: ani;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction: normal;
  border-top: 15px solid transparent;
  border-left: 15px solid blue;
  border-bottom: 15px solid transparent;
}

@keyframes ani {
0% {transform: scale(0.01); opacity: 0}
1% {transform: scale(0.01); opacity: 0.8}
95% {transform: scale(1); opacity: 0.8;}
100% {transform: scale(1); opacity: 0;}
}

#r2 { -webkit-animation-delay: -1s;animation-delay: -1s;}
#r3 { -webkit-animation-delay: -2s;animation-delay: -2s;}
#r4 { -webkit-animation-delay: -3s;animation-delay: -3s;}

.ringr {
  width: 96%;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  -webkit-animation-name: anir;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: normal;
  animation-name: anir;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction: normal;
  border-top: 15px solid transparent;
  border-right: 15px solid blue;
  border-bottom: 15px solid transparent;
}

.sbringr {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: blue;
  top:161px;
  left: 49%;
}

@keyframes anir {
  0% {transform: scale(0.01); opacity: 0}
  1% {transform: scale(0.01); opacity: 0.8}
  95% {transform: scale(1); opacity: 0.8;}
  100% {transform: scale(1); opacity: 0;}
}

#r2r { -webkit-animation-delay: -1s;animation-delay: -1s;}
#r3r { -webkit-animation-delay: -2s;animation-delay: -2s;}
#r4r { -webkit-animation-delay: -3s;animation-delay: -3s;}

#views {
  width: 100%;
  height: 26rem;
  overflow: hidden;
}

#status-icon {
  position: relative;
  top: 0.6rem;
  height: 10rem;
  opacity: 0.3;
}
#status-icon.battery {
  background: url('../images/battery.png') center no-repeat;
}
#status-icon.fxos-logo {
  background: url('../images/fxos-logo.png') center no-repeat;
}
#status-icon.messages {
  background: url('../images/mail.png') center no-repeat;
}
#status-icon.microphone {
  background: url('../images/mic.png') center no-repeat;
}
#status-icon.telephone {
  background: url('../images/tel.png') center no-repeat;
}
#status-icon.text {
  background: url('../images/sms.png') center no-repeat;
}
#status-icon.weather {
  background: url('../images/sun.png') center no-repeat;
}

#status-text {
  position: relative;
  top: 2rem;
  height: 7rem;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
}

#commands-list {
  position: relative;
  top: -18rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}

#commands-list ul {
  list-style: none;
  padding: 0;
}

#microphone-button {
  position: relative;
  top: -10rem;
  background: url('../images/mic.png') center no-repeat;
  width: 100%;
  height: 6rem;
}

